@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.button-black {
  @apply uppercase border-2 border-very-dark-violet px-6 py-2 transition-colors hover:bg-very-dark-violet hover:text-very-light-gray;
}

.button-white {
  @apply uppercase border-2 border-very-light-gray px-6 py-2 transition-colors hover:bg-very-light-gray hover:text-very-dark-violet;
}

hr {
  @apply w-[150px] border-very-light-gray lg:border-dark-grayish-violet lg:mx-auto;
}

h1 {
  @apply text-[80px] leading-[75px];
}

section div {
  @apply px-3 lg:px-0;
}
